body {
    font-family:  Arial, Helvetica, sans-serif;
}

.navbar {
    padding-left: 0;
}
/*
.carousel-item {
    height: 500px;
} */
/* c-item ja c-img kuvien korkeuden rajoittamiseen */
.c-item {
    height: 500px;
    
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.5);
    padding-top: 100px;
    
}

.col-md-4 {
    background-color:gainsboro;
    height: 600px;
}

.col-sm-8 {
    height: 500px;
}

#info {
    font-size: 18px;
    padding-left: 1.5em;
    padding-top: 1.5em;
    line-height: 1.8;
}

.hinnasto {
    font-size: 32px;
    text-align: left;
    padding-top: 0.5em;
    padding-left: 1em;
    font-weight: bold
}

.hinnat {
    font-size: 16px;
    padding-top: 0.5em;
    padding-left: 2em;
    line-height: 1.7;
}
#osoite {
    font-size: 18px;
    padding-left: 1.5em;
    padding-top: 1.5em;
    line-height: 1.8;
}

.wrapper {display:flex;
}

.wrapper > div {
    flex: 1;
    text-align:center;
}

/* Footerin paddingin "nollaaminen", levittyy koko sivulle*/
footer {
    padding: 0 !important;
    color:white;
    background: rgb(33 37 41);
    height: 50px;
    vertical-align: middle;
}

a:link {
    color: white;
    background-color: rgb(33 37 41)
}
a:visited {
    color: rgba(153, 171, 180, 0.774);
}
a:focus {
    color: rgb(67, 220, 20);
}
a:hover {
    color: rgb(0, 21, 255);
}
a:active {
    color: rgba(125, 121, 122, 0.838);
}